# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Medical Image Research\Segmentation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
